{%extends "index.html"%}
{%load static%}
{%block body%}

			<section class="page_breadcrumbs ds parallax background_overlay section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight2">About</h2>
							<ol class="breadcrumb darklinks color2">
								<li>
									<a href="/">
							Home
						</a>
								</li>
								<!-- <li>
									<a href="#">Pages</a>
								</li> -->
								<li class="active">About</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100">
				<div class="container">
					<div class="row display_table_md">
						<div class="col-md-6 text-center display_table_cell_md">
							<img src="{%static 'images/engineers/e35.jpg'%}" alt="" />
						</div>
						<div class="col-md-6 display_table_cell_md">
							<h2 class="section_header">
								About Us?
							</h2>
							<hr class="divider_30_2 main_bg_color2">
							<p>"Welcome to our world of Information Technology and Software  Solutions, where innovation and reliability converge to empower your digital journey. With a deep-rooted passion for cutting-edge technology and over 5 years of industry experience, we at Engineers Duniya stand as your trusted partner in navigating the complexities of the digital realm."</p>
							<p class="medium">
								Choose us for your IT software and website solutions, and experience the difference that our expertise, dedication, and commitment to excellence can make for your business.
							</p>
							
							<div class="row regular">
								<div class="col-sm-6">
									<ul class="list2">
										<li>Expertise</li>
										<li>Customization</li>
										<li>Quality</li>
										<li>Results-driven</li>
									</ul>
								</div>
								<div class="col-sm-6">
									<ul class="list2">
										<li>Collaboration</li>
										<li>Transparency</li>
										<li>Support</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<p>
						At Engineers Duniya, we pride ourselves on our ability to deliver tailor-made solutions that seamlessly align with your unique business objectives. Whether you're looking to streamline operations, enhance user experience, or amplify your online presence, our team of seasoned professionals is here to transform your vision into reality.
					</p>
					<p>
						What sets us apart is not just our technical prowess, but our unwavering commitment to customer satisfaction. From the initial consultation to ongoing support, we prioritize clear communication, transparency, and collaboration every step of the way.
					</p>
					<p>
						With our comprehensive suite of services, including software development, website design and development, mobile app development, and digital marketing, we offer a holistic approach to meet all your digital needs under one roof.
					</p>

					<div class="row">
						<div class="col-sm-12">
							<h2 class="section_header">
								Why Choose Us?
							</h2>
							<h5>1. Expertise and Experience</h5>
							<p>
								With years of experience in the industry, our team brings a wealth of expertise to every project. From complex software development to sleek website design, we have the skills and knowledge to deliver exceptional results.
							</p>
							<h5>2. Customization</h5>
							<p>
								We understand that every business is unique. That's why we take a personalized approach to each project, tailoring our solutions to meet your specific needs and objectives. Whether you're a small startup or a large enterprise, we've got you covered.
							</p>
							<h5>3. Quality and Reliability</h5>
							<p>
								Quality is at the core of everything we do. From the code we write to the designs we create, we maintain the highest standards of excellence to ensure that our deliverables surpass your expectations.
							</p>
							<h5>4. Collaboration</h5>
							<p>
								We believe in the power of collaboration. Throughout the project lifecycle, we work closely with you to gather feedback, address concerns, and make adjustments as needed. Your satisfaction is our top priority.
							</p>
							<h5>5. Transparency</h5>
							<p>
								We believe in being transparent and honest in our dealings. You can trust us to provide clear communication, realistic timelines, and upfront pricing with no hidden fees or surprises.
							</p>
							<h5>6. Support</h5>
							<p>
								Our commitment to your success doesn't end with the project delivery. We offer ongoing support and maintenance to ensure that your software and website continue to perform optimally long after launch.
							</p>
							<h5>7. Results-driven</h5>
							<p>
								Ultimately, our goal is to help you achieve tangible results and drive business growth. Whether it's increasing sales, improving efficiency, or enhancing user engagement, we're here to help you succeed.
							</p>
							<h6>Get Started Today</h6>
							<p>
								Join hands with us at Engineers Duniya and embark on a journey of digital transformation. Let's shape the future of your business together."
							</p>
							
						</div>
					</div>

				</div>
			</section>

			<!-- <section class="ls ms section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1 text-center">

							<h2 class="section_header">
								Testimonials
							</h2>
							<hr class="divider_30_2 main_bg_color2">

							<div class="owl-carousel testimonials-owl-content topmargin_60" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1" data-loop="true" data-margin="20" data-dots="false" data-nav="true">
								<blockquote class="with_quotes">
									Picanha rump sausage swine hamburger strip steak filet mignon. Chicken meatball jerky bacon pastrami cow brisket rump. Flank shankle porchetta tenderloin, capicola bacon tail andouille shoulder cow kielbasa chuck bresaola biltong.
								</blockquote>

								<blockquote class="with_quotes">
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Nullam ultrices quam est, ac fringilla ante egestas sed. Proin ac cursus odio, sit amet pellentesque enim.
								</blockquote>

								<blockquote class="with_quotes">
									Donec et porttitor mauris, sit amet volutpat nunc. Nunc tincidunt et sem venenatis placerat. Donec sit amet interdum massa, vel blandit mi. Praesent consequat enim quis lacus tristique, a vulputate nisl pulvinar.
								</blockquote>

							</div>

							<div class="owl-carousel testimonials-owl-dots topmargin_20" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="3" data-responsive-xs="3" data-center="true" data-loop="true" data-margin="30" data-touch-drag="false" data-mouse-drag="false">
								<div>
									<img src="{%static 'images/faces/01.jpg'%}" alt="" />
									<div class="item-meta">
										<h4 class="bottommargin_0">Miguel Nguyen</h4>
										<p class="small-text highlight2">Client</p>
									</div>
								</div>

								<div>
									<img src="{%static 'images/faces/02.jpg'%}" alt="" />
									<div class="item-meta">
										<h4 class="bottommargin_0">Lucy Garrett</h4>
										<p class="small-text highlight2">Client</p>
									</div>
								</div>

								<div>
									<img src="{%static 'images/faces/03.jpg'%}" alt="" />
									<div class="item-meta">
										<h4 class="bottommargin_0">Olivia Hopkins</h4>
										<p class="small-text highlight2">Client</p>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="section_header">
								Our Products
							</h2>
							<hr class="divider_30_2 main_bg_color2">
							<p>
					Leberkas turkey kielbasa, alcatra cupim ball tip pig biltong shank salami. Chuck fatback jerky t-bone hamburger salami swine chicken cupim pork ribeye tenderloin brisket. 
				</p>

							<div class="owl-carousel topmargin_60" data-nav="true" data-dots="false" data-responsive-lg="3" data-loop="true" data-margin="60">
								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/bedroom.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Bedroom Furniture</a>
										</h4>
										<p>
								Bacon meatloaf cupim, t-bone short loin spare ribs alcatra swine andouille. Pork chop landjaeger andouille boudin ball tip 
							</p>
									</div>
								</article>

								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/kitchen.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Kitchen Furniture</a>
										</h4>
										<p>
								Frankfurter sirloin drumstick turducken, spare ribs venison cow salami burgdoggen tongue shoulder fatback chicken jerky biltong.
							</p>
									</div>
								</article>

								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/hall.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Hall Furniture</a>
										</h4>
										<p>
								Chicken tenderloin swine, turducken pastrami shoulder alcatra short ribs pork ham shan. Salami shank turducken t-bone
							</p>
									</div>
								</article>

								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/dining.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Dining Room furniture</a>
										</h4>
										<p>
								Ham jerky in pastrami, andouille ham hock nisi ut pig ground round pork chop sint kevin porchetta in ut non, labore rump 
							</p>
									</div>
								</article>

								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/bathroom.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Bathroom Furniture</a>
										</h4>
										<p>
								Pancetta jerky porchetta chicken, doner capicola venison pork chop pastrami tail tongue meatball ground round filet mignon. 
							</p>
									</div>
								</article>

								<article class="vertical-item product-item">
									<div class="item-media bottommargin_30">
										<img src="{%static 'images/products/nursery.png'%}" alt="" />
									</div>
									<div class="item-content">
										<h4>
											<a href="service-single.html">Nursery Furniture</a>
										</h4>
										<p>
								Chuck landjaeger drumstick spare ribs sausage ground round porchetta pork swine meatloaf shank kevin. Prosciutto shankle picanha
							</p>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			{%endblock%}