{%extends "index.html"%}
{%load static%}
{%block body%}

			<section class="page_breadcrumbs ds parallax background_overlay section_padding_top_65 section_padding_bottom_65">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="highlight2">Services</h2>
							<ol class="breadcrumb darklinks color2">
								<li>
									<a href="/">
							Home
						</a>
								</li>
								<!-- <li>
									<a href="#">Pages</a>
								</li> -->
								<li class="active">Services</li>
							</ol>
						</div>
					</div>
				</div>
			</section>

			<section class="ls section_padding_top_150 section_padding_bottom_150">
				<div class="container">
					<div class="row columns_margin_bottom_20">
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/e15.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/website/">Website Development</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Partner in Web Development Solutions
									</p>

								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/e43.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/mobile-app/">Mobile Applications</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Partner in Mobile App Development Solutions
									</p>

								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6 clear-sm">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/c10.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/graphics-designing/">Graphics Designing</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Partner in Creative Design Solutions
									</p>

								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6 clear-md clear-lg">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/c8.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/digital-marketing/">Digital Marketing</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Digital Marketing Partner
									</p>

								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6 clear-sm">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/c9.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/seo/">SEO</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Trusted SEO Partner
									</p>

								</div>
							</article>
						</div>
						<div class="col-md-4 col-sm-6">
							<article class="vertical-item content-padding with_background text-center  overflow-hidden">
								<div class="item-media">
									<img src="{%static 'images/engineers/c12.jpg'%}" alt="">
								</div>
								<div class="item-content">
									<h4 class="entry-title ">
										<a href="/social-media/">Social Media</a>
									</h4>
									<p>
										Welcome to Engineers Duniya - Your Social Media Marketing Experts
									</p>

								</div>
							</article>
						</div>
					</div>
				</div>
			</section>

			{%endblock%}